* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: #0b0b0b;
  color: #e6e6e6;
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  line-height: 1.5;
}

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

.site-title {
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: snow;
}

.marquee {
  --gap: 4rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  margin-bottom: 1.1rem;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  list-style: none;
}

.enable-animation .marquee__content {
  animation: scroll 25s linear infinite;
}

.marquee--hover-pause:hover .marquee__content {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.marquee__content>* {
  flex: 0 0 auto;
  color: snow;
  margin: 2px;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-align: center;
}

.marquee--reverse .marquee__content {
  animation-direction: reverse;
}

footer {
  flex-shrink: 0;
  margin-top: auto;
  text-align: center;
  padding: 1rem;
  color: darkslategrey;
  font-size: 0.9rem;
}

@media (max-width: 480px) {
  body {
    padding: 2rem 1rem;
  }

  .site-title {
    font-size: 2rem;
  }

  .link-item {
    padding: 0.8rem 1rem;
  }

  .marquee__content>* {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}